// src/styles/main.scss

// Importera variablerna FÖRST, så att de definieras.
@import 'variables';

// Importera sedan de grundläggande stilarna som använder variablerna.
@import 'typography';

// I t.ex. main.scss

/* Anpassningar för react-datepicker för att passa mörkt tema */
.react-datepicker {
  background-color: #282828;
  border-color: var(--color-border);
  font-family: var(--font-body);
}

.react-datepicker__header {
  background-color: #181818;
  border-bottom-color: var(--color-border);
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day {
  color: var(--color-text);
}

.react-datepicker__day:hover {
  background-color: #3d3d3d;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: var(--color-primary);
  color: #121212;
  font-weight: bold;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
  background-color: var(--color-primary) !important;
  color: #121212 !important;
  font-weight: bold;
}

// .react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button),
// .react-datepicker__navigation--previous--with-time:not(.react-datepicker__navigation--previous--with-today-button) {
//   // Fix för pilarnas position
// }