// src/components/ui/Input.module.scss

// Ingen @use eller @import behövs här.

.input {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 0;
  // Använd CSS-variabeln direkt.
  color: var(--color-text);
  font-size: 1rem;
  outline: none;

  &::placeholder {
    color: #6b7280;
  }
}