// src/components/ui/Input.module.scss

// Ingen @use eller @import behövs här.

.input {
  background-color: var(--color-dark-gray);
  padding: var(--padding-nano);
  border-radius: 0.25rem;
  border: 1px solid var(--color-border);
  margin-left: var(--margin-nano);
  margin-bottom: var(--margin-sml);
  color: var(--color-text);
  font-size: 1rem;
  outline: none;
  width: 90%;
  &::placeholder {
    color: #6b7280;
  }
}