@use '@/styles/variables' as *;

// Behållaren för hela navigeringsfältet
.nav {
  @include column(0); // gap: 0
  width: 100%;
  margin: var(--spacing-md) auto;
  background-color: var(--color-dark-gray);
  border-radius: var(--radius-sm);
}

// Stilen för varje enskild länk/flik
.navLink {
  @include center;
  width: 100%;                    // se till att varje länk-bakgrund fyller bredden
  padding: var(--spacing-md) 0;   // Sätt samma vertikal-padding för enhetlig höjd
  text-decoration: none;
  color: var(--color-text);
  background-color: transparent;
  font-size: var(--fs-xs);
  line-height: 150%;
  font-weight: 600;
  text-transform: uppercase;

  // Se till att texten inte bryts i flera rader
  white-space: nowrap;

  // dela upp varje rad med en tunn linje:
  border-bottom: 1px solid var(--color-background);

  // ta bort sista linjen
  &:last-child {
    border-bottom: none;
  }

  // hover-state
  &:hover {
    background-color: var(--color-border);
    text-decoration: none;
  }
}

@media (min-width: #{$tabletBreakpoint}) {
  .nav {
    @include row;
    justify-content: flex-end; // gap: 0
  }
}
