// src/components/ui/Button.module.scss

.button {
  // Använder CSS-variabeln direkt.
  position: relative;
  background-color: var(--color-primary); 
  font-size: var(--fs-sm);
  border-radius: var(--radius-tier-2);
  white-space: nowrap;
  height: calc(var(--base) * 3);
  align-self: flex-start;
  font-weight: 500;
  padding: var(--base);
  transition: all ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  // ... andra stilar
}

.fullWidth {
  width: 100%;
}

.contentHidden {
  visibility: hidden;
}

.loaderWrapper {
  // Tar bort wrapper-diven från layoutflödet och låter den sväva fritt
  position: absolute;
  
  // Tricket för perfekt centrering
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  // En extra säkerhetsåtgärd för att säkerställa att
  // wrappern inte påverkar höjden eller layouten.
  line-height: 0;
}