// src/components/ui/button/Button.module.scss
@use '@/styles/variables' as *;

.button {
  /* GRUNDSTILAR - Dessa gäller för ALLA knappar */
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary); // Primärfärg som standard
  border-radius: 0;
  border: 1px solid transparent; // För en snygg övergång
  font-weight: 700;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, opacity 0.2s;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.fullWidth {
  width: 100%;
}

/* --- VARIANTER --- */
// Här definieras bara det som ändras, t.ex. färger

.variantPrimary {
  background-color: var(--color-accent);
  color: var(--color-text);
  
  &:hover {
    background-color: var(--color-primary);
  }
}

.variantDestructive {
  background-color: var(--color-border);
  color: var(--color-text);

  &:hover {
    background-color: var(--color-border-hover);
  }
}

.variantGhost {
  background-color: var(--color-background-hover);
  color: var(--color-text);
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}


/* --- STORLEKAR --- */
// Här definieras allt som har med storlek att göra: padding, font-size, height etc.

.sizeDefault {
  font-size: var(--fs-base);
  padding: 0 var(--spacing-md);
  height: 44px; // En bra standardhöjd
}

.sizeSmall {
  font-size: var(--fs-sm);
  padding: 0 var(--spacing-sm);
  height: 36px;
}

.sizeLarge {
  font-size: var(--fs-lg);
  padding: 0 var(--spacing-lg); // Mer padding på sidorna
  height: 52px; // Högre höjd
}

.sizeLogin {
  // Använd en generös fast höjd som passar din design
  height: 55px; 
  padding: 0 var(--spacing-md); 
  font-size: 2rem; // Prova dig fram!
  font-family: var(--font-button);
  letter-spacing: 1.5px;
}

.sizeLogout {
  font-size: var(--fs-base);  
  padding: 0 var(--spacing-md);
  height: 44px; // En bra standardhöjd
  font-family: var(--font-button);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.radiusSmall {
  border-radius: var(--radius-sm);
}

.radiusMedium {
  border-radius: var(--radius-md); // Använder din globala variabel (8px)
}

.radiusPill {
  border-radius: var(--radius-round); // Använder din globala variabel (99rem)
}


/* --- LADDNINGS-LÄGE --- */

.contentHidden {
  visibility: hidden;
}

.loaderWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 0;
}