@use '@/styles/variables' as *;

// Behållaren för en etikett och ett fält
.formGroup {
  display: flex;
  flex-direction: column; // Stapla etikett och input vertikalt
}

// Styling för etiketten (label)
.label {
  margin-bottom: var(--spacing-sm); // Skapa avstånd ner till input-fältet
  font-size: var(--fs-sm);
  font-weight: 500;
  color: #d1d5db; // En lite ljusare grå för att särskilja från vanlig text
  cursor: pointer;
}

// Styling för ett eventuellt felmeddelande kopplat till fältet
.errorText {
  color: var(--color-accent);
  font-size: var(--fs-sm);
  margin-top: var(--spacing-sm); // Avstånd från input-fältet ner till felet
}