// Importera dina globala variabler så att denna fil kan använda dem
@use '@/styles/variables' as *;

.formGroup {
  // Lägger till luft inuti varje grupp
  // Skapar den tunna linjen under varje grupp

  // Stil för etiketten (t.ex. "Användarnamn")
  label {
    display: block; // Gör så att den tar upp hela raden
    margin-bottom: 0.25rem; // Lite luft mellan label och input
    font-size: 0.875rem;
    padding: var(--padding-sml);
    // Lägg till fler label-stilar här om du vill
  }
}